@{
    ViewBag.Title = "Software Download";
}




<!DOCTYPE html>
<html>



<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/FondoIndex.css" />


</head>
<body>

    <header class="masthead">
        <div class="container h-100">



            <center><h4 class="text-white">Download</h4></center>

            <div class="container">


                <section class="container text-center">



                    <section id="portfolio">
                        <div class="container-fluid p-lg-5 text-center">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-lg-3 col-sm-6">
                                    <h5 class="text-white">Limpiadores</h5>
                                    <a class="portfolio-box" href="https://localhost:44325/Home/limpiadores">
                                        <img class="img-fluid" src="@Url.Content("~/Content/img/limpiadores1.jpg")" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="project-category text-white-50">
                                                Limpiadores
                                            </div>
                                            <div class="project-name">
                                                Acceso a Limpiadores
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                &nbsp;
                                &nbsp;
                                &nbsp;

                                <div class="col-lg-3 col-sm-6">
                                    <h5 class="text-white">Hardware</h5>
                                    <a class="portfolio-box" href="https://localhost:44325/Home/Hardware">
                                        <img class="img-fluid" src="@Url.Content("~/Content/img/hardware1.png")" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="project-category text-white-50">
                                                Hardware
                                            </div>
                                            <div class="project-name">
                                                Acceso a Hardware
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                &nbsp;
                                &nbsp;
                                &nbsp;

                                <div class="col-lg-3 col-sm-6">
                                    <h5 class="text-white">Drivers</h5>
                                    <a class="portfolio-box" href="https://localhost:44325/Home/drivers">
                                        <img class="img-fluid" src="@Url.Content("~/Content/img/drivers1.png")" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="project-category text-white-50">
                                                Drivers
                                            </div>
                                            <div class="project-name">
                                                Acceso a Drivers
                                            </div>
                                        </div>
                                    </a>
                                </div>


                                &nbsp;
                                &nbsp;
                                &nbsp;

                            </div>

                        </div>

                    </section>



                    <section id="portfolio">
                        <div class="container-fluid p-lg-5">
                            <div class="row no-gutters justify-content-center">






                                <div class="col-lg-3 col-sm-6">
                                    <h5 class="text-white">Utilidades</h5>
                                    <a class="portfolio-box" href="https://localhost:44325/Home/Utilidades">
                                        <img class="img-fluid" src="@Url.Content("~/Content/img/utilidades1.jpg")" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="project-category text-white-50">
                                                Utilidades
                                            </div>
                                            <div class="project-name">
                                                Acceso a Programas
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                &nbsp;
                                &nbsp;
                                &nbsp;

                                <div class="col-lg-3 col-sm-6">
                                    <h5 class="text-white">Navegadores</h5>
                                    <a class="portfolio-box" href="https://localhost:44325/Home/Navegadores_descargas">
                                        <img class="img-fluid" src="@Url.Content("~/Content/img/navegadoress1.jpg")" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="project-category text-white-50">
                                                Navegadores
                                            </div>
                                            <div class="project-name">
                                                Acceso a Navegadores
                                            </div>
                                        </div>
                                    </a>
                                </div>



                            </div>

                        </div>

                    </section>

                </section>

            </div>



            <div class="row no-gutters justify-content-center">



                <a href="https://localhost:44325/Home/Index" class="btn btn-sm btn-outline-light" role="button" aria-pressed="true">Volver a Pagina Principal</a>

            </div>




            @*<center><a href="https://localhost:44325/Home/Index" class="btn btn-outline-light" role="button" aria-pressed="true">Volver a Pagina Principal</a></center>*@



        </div>

    </header>


</body>
</html>


