@{
    ViewBag.Title = "Utilidades";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/FondoIndex.css" />
</head>

<body>


    <header class="masthead">
        <div class="container h-100">

            <center><h4 class="text-white">Utilidades</h4></center>

            <div class="container">


                <hr class="divider my-4">

                <div class="container">

                    <div class="row justify-content-center">

                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/adobeu7.png")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/adobeu7.png")" href="@Url.Content("~/Content/img/adobeu7.png")" alt="">
                                <a class="text-light mb-4">Adobe Reader</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">

                                <a class="portfolio-box" href="@Url.Content("~/Content/img/libreofficeu7.jpeg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/libreofficeu7.jpeg")" href="@Url.Content("~/Content/img/codeckliteu7.png")" alt="">
                                <a class="text-light mb-4">Libre Office 32 bits</a>

                            </div>
                        </div>






                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">

                                <a class="portfolio-box" href="@Url.Content("~/Content/img/winraru7.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/winraru7.jpg")" href="@Url.Content("~/Content/img/libreofficeu7.jpeg")" alt="">
                                <a class="text-light mb-4">Winrar 32 Bits</a>

                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">

                                <a class="portfolio-box" href="@Url.Content("~/Content/img/cutepdf.png")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/cutepdf.png")" href="@Url.Content("~/Content/img/libreofficeu7.jpeg")" alt="">
                                <a class="text-light mb-4">Cut PDF</a>

                            </div>
                        </div>




                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">

                                <a class="portfolio-box" href="@Url.Content("~/Content/img/libreofficeu7.jpeg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/libreofficeu7.jpeg")" href="@Url.Content("~/Content/img/winraru7.jpg")" alt="">
                                <a class="text-light mb-4">Libre Office 64 Bits</a>

                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/winraru7.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/winraru7.jpg")" href="@Url.Content("~/Content/img/winraru7.jpg")" alt="">
                                <a class="text-light mb-4">Winrar 64 Bits</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/vlcu7.png")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/vlcu7.png")" href="@Url.Content("~/Content/img/vlcu7.png")" alt="">
                                <a class="text-light mb-4">VLC</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/openoffice.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/openoffice.jpg")" href="@Url.Content("~/Content/img/openoffice.jpg")" alt="">
                                <a class="text-light mb-4">OpenOffice</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/cdburner1.png")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/cdburner1.png")" href="@Url.Content("~/Content/img/cutepdf.png")" alt="">
                                <a class="text-light mb-4">CD-Burner</a>
                            </div>
                        </div>



                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/steam1.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/steam1.jpg")" href="@Url.Content("~/Content/img/steam1.jpg")" alt="">
                                <a class="text-light mb-4">Steam</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/codeckliteu7.png")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/codeckliteu7.png")" href="@Url.Content("~/Content/img/cdburner1.png")" alt="">
                                <a class="text-light mb-4">Codecs</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/imgburn.png")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/imgburn.png")" href="@Url.Content("~/Content/img/imgburn.png")" alt="">
                                <a class="text-light mb-4">Img Burn</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/tv.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/tv.jpg")" href="@Url.Content("~/Content/img/steam1.jpg")" alt="">
                                <a class="text-light mb-4">Team Viewer</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/anydesk.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/anydesk.jpg")" href="@Url.Content("~/Content/img/cdburner1.png")" alt="">
                                <a class="text-light mb-4">AnyDesk</a>
                            </div>
                        </div>


                        <div class="col-lg-3 col-lg-4 align-self-center">
                            <div class="mt-5">


                                <a class="portfolio-box" href="@Url.Content("~/Content/img/ultravnc.jpg")"></a>
                                <img class="img-fluid" src="@Url.Content("~/Content/img/ultravnc.jpg")" href="@Url.Content("~/Content/img/imgburn.png")" alt="">
                                <a class="text-light mb-4">Ultra VNC</a>
                            </div>
                        </div>



                    </div>


                </div>


            </div>


            <br />
            <br />
            <div class="row justify-content-center">


                <a href="https://localhost:44325/Home/Descargas" class="btn btn-sm btn-outline-light" role="button" aria-pressed="true">Atras</a>

                &nbsp;
                &nbsp;

                <a href="https://localhost:44325/Home/Index" class="btn btn-sm btn-outline-light" role="button" aria-pressed="true">Volver a Pagina Principal</a>



            </div>


        </div>

    </header>


  </body>


</html>
